<div class="footer">
    <br>
    <br>
    <br>
    <br>
    <br>   
    <br>
    <br>
    <br>
    <br>
    Copyright © MMXXI A Very Stable Milking Stool 
        
    <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
    <script>
      kofiWidgetOverlay.draw('averystablemilkingstool', {
        'type': 'floating-chat',
        'floating-chat.donateButton.text': 'Support me',
        'floating-chat.donateButton.background-color': '#f45d22',
        'floating-chat.donateButton.text-color': '#fff'
      });
    </script>
</div>